<!-- Welcome section -->
<section class="welcome-section">
    <div class="inner">
        <article>
            <header class="welcome-header">
                <h2>meet.<strong>php</strong> zawieszone!</h2>
            </header>
            <div class="welcome-entry clearfix">
				<p>Więcej informacji w <a href="{{ WEBROOT }}/suspended">tym poście</a>.</p>
            </div>
        </article>
    </div>
</section>
<!-- End welcome section -->