{% extends '_layout.twig' %}

{% block content %}

<!-- Contact section -->
<div class="page clearfix">
    <div class="inner">
        <article class="event contact-page">
            <header class="page-header clearfix">
                <h1>Kontakt</h1>
            </header>
            <div class="page-content">
                <code>
<pre style="font-family:monospace;"><span style="color: #000000; font-weight: bold;">&lt;?php</span>
&nbsp;
<span style="color: #000088;">$var</span> <span style="color: #339933;">=</span> <span style="color: #0000ff;">'@'</span><span style="color: #339933;">;</span>
<span style="color: #000088;">$address</span> <span style="color: #339933;">=</span> <span style="color: #0000ff;">"contact<span style="color: #006699; font-weight: bold;">{$var}</span>meetphp.pl"</span><span style="color: #339933;">;</span>
<span style="color: #990000;">mail</span><span style="color: #009900;">(</span><span style="color: #000088;">$address</span><span style="color: #339933;">,</span> <span style="color: #0000ff;">'Meet.php kontakt'</span><span style="color: #339933;">,</span> <span style="color: #0000ff;">'Bazinga!'</span><span style="color: #009900;">)</span><span style="color: #339933;">;</span></pre>
                </code>

                <p>Możesz także odezwać się do nas na Facebooku albo na Twitterze - linki w stopce strony.</p>
            </div>
        </article>
    </div>
</div>
<!-- End contact section -->

{% endblock %}