{% extends '_layout.twig' %}

{% block content %}

<div class="page clearfix">
    <div class="inner">
        <article class="event">
            <header class="page-header clearfix">
                <h1>Najczęściej zadawane pytania</h1>
            </header>
            <div class="page-content">
                <h3>
                    Czym jest meet.php?
                    <a class="anchor" href="#1" name="1">&para;</a>
                </h3>
                <p>meet.php to cykliczne spotkania pasjonatów PHP oraz technologii związnych z tworzeniem aplikacji w tym języku.</p>

                <h3>
                    Ile kosztuje uczestnictwo w spotkaniach?
                    <a class="anchor" href="#2" name="2">&para;</a>
                </h3>
                <p>Wszystkie spotkania są otwarte i darmowe dla każdego.</p>

                <h3>
                    Czy trzeba wcześniej zapowiadać chęć uczestnictwa?
                    <a class="anchor" href="#3" name="3">&para;</a>
                </h3>
                <p>Nie, nie trzeba. <br>PS. Przyjście wcześniej daje większą szansę na miejsce siedzące ;)</p>

                <h3>
                    Jestem początkującym/zaawansowanym programistą PHP - czy tematy nie będą dla mnie za trudne/za łatwe?
                    <a class="anchor" href="#4" name="4">&para;</a>
                </h3>
                <p>Na każdym spotkaniu będą przygotowane co najmniej 3 różne prezentacje. Każda z nich będzie zaczynała się od kilku słów wprowadzenia dla osób niezaznajomionych. Oprócz tego zawsze można dopytać o niezrozumiałe kwestie tuż po prezentacji lub w trakcie afterparty. Na pewno każdy znajdzie coś nowego i ciekawego dla siebie. Dodatkowo, każda z prezentacji ma określony przez prelegenta poziom trudności.</p>

                <h3>
                    Mam świetny temat i chciałbym poprowadzić prezentację. Co mam zrobić?
                    <a class="anchor" href="#5" name="5">&para;</a>
                </h3>
                <p>Aby informacje o Twojej prezentacji znalazły się na stronie, potrzebujemy następujacych rzeczy:</p>
                <ul>
                    <li>tytuł prezentacji</li>
                    <li>krótki opis prezentacji, na 2-3 zdania</li>
                    <li>poziom trudności w skali od 1-5</li>
                    <li>link do swojego avatara</li>
                    <li>adres strony, do której ma linkować informacja o prelegencie (blog, twitter etc..) - nie jest to wymagane, aczkolwiek wskazane</li>
                    <li>rozmiar koszulki i nick, jaki ma się na niej znaleźć (każdy z prelegentów dostaje sygnowaną koszulkę)</li>
                </ul>
                <p>Powyższe informacje możesz wysłać do nas na dwa sposoby:</p>
                <ul>
                    <li>korzystając z adresu email, który znajdziesz w zakładce <a href="{{ WEBROOT }}/contact">kontakt</a></li>
                    <li>robiąc pull-requesta do <a href="https://github.com/singles/meet.php">naszego repozytorium</a> na GutHubie, umieszczając w kodzie wymagane informacje, a rozmiar koszulki i nicka podając w komentarzu</li>
                </ul>
                <p>Jeśli temat nam się spodoba, zostajesz wpisany na listę chętnych. Następnie uzgadniamy termin dogodny dla wszystkich prelegentów oraz Twoja prezentacja zostaje oficjalnie ogłoszona różnymi kanałami. A potem czeka Cię wieczna sława ;)</p>

                <h3>
                    Czy spotkania mają z góry ustalony termin?
                    <a class="anchor" href="#6" name="6">&para;</a>
                </h3>
                <p>Spotkania będą odbywały się mniej więcej raz w miesiącu, w godzinach wieczornych. Dokładne terminy będziemy z odpowiednim wyprzedzeniem publikować na naszej stronie głównej. Informacje te pojawiają się także na serwsiach: <a href="https://www.facebook.com/pages/meetphp/233447820052211">Facebook</a>, <a href="http://twitter.com/meetphp">Twitter</a>, czy też <a href="https://plus.google.com/107635603864697450989">Google+</a>.</p>

                <h3>
                    Czy prezentacje odbywają się w takiej samej kolejności, w jakiej wymienione są na stronie wydarzenia?
                    <a class="anchor" href="#7" name="7">&para;</a>
                </h3>
                <p>Nie. Niektórzy prelegenci docierają czasami z opóźnieniem albo mają różne preferencje co do kolejności, dlatego takie rzeczy ustalamy na bieżąco na spotkaniu. Jeśli spieszysz się np. na pociąg powrotny i interesuje Cię konkretna prezentacja, to daj nam znać na początku spotkania - jeśli prelegenci nie będą mieli nic przeciwko, to weźmiemy to pod uwagę przy ustalaniu kolejności.</p>

                <h3>
                    Gdzie mogę dostać kubek meet.php?
                    <a class="anchor" href="#8" name="8">&para;</a>
                </h3>
                <p>Są dwa sposoby:</p>
                <ul>
                    <li>zostanie preglentem - w podziękowaniu przysługuje Ci wtedy jedyny w swoim rodzaniu, meet.php'owy kubek</li>
                    <li>przyjść na spotkanie i liczyć na szczęście - na spotkaniach losujemy/rozdajemy kilka z nich
                </li></ul>
                <p>Na obecną chwilę nie prowadzimy i nie planujemy sprzedaży kubków.</p>

                <h3>
                    W czym mogę pomóc?
                    <a class="anchor" href="#9" name="9">&para;</a>
                </h3>
                <p>Spotkania organizujemy w swoim wolnym czasie i dla własnej przyjemności, więc każda pomoc się przyda. Masz pomysł na ciekawe wydarzenie (hackathon – konkurs – konferencje) / chcesz przygotować wykład / pomóc w sprawach organizacyjnych / znasz sponsora, który jest chętny wspierać naszą inicjatywę / przyszło Ci do głowy coś o czym nikt z nas wcześniej nie pomyślał – napisz do nas. Chętnie się spotkamy i zaczniemy współpracę.</p>
            </div>
        </article>
    </div>
</div>

{% endblock %}
