{% extends '_layout.twig' %}

{% block content %}
{% include '_top.twig' %}
<div id="info-background">
    <section id="info">
        <ul>
            <li id='info-why'>
                <h2>Dlaczego meet.php ?</h2>
            </li>
            <li id="info-learn">
                <p><span>Uczysz się</span>
                Mówimy o tym, co istotne podczas tworzenia aplikacji w PHP - tych małych i dużych.</p>
            </li>
            <li id="info-meet">
                <p>
                    <span>Poznajesz ludzi</span>
                    Tych, którzy w PHP programują, ponieważ lubią, a nie dlatego, że muszą.
                </p>
            </li>
            <li id="info-share">
                <p>
                    <span>Dzielisz się doświadczeniem</span>
                    Programiści uczą się cały czas.
                </p>
            </li>
        </ul>
    </section>
    {% include '_codes.twig' %}
    <span id="background-image-info-corner"><a href="https://github.com/singles/meet.php"></a></span>
</div>
{% endblock %}