{% extends '_layout.twig' %}

{% block content %}
{% include '_top.twig' %}

<!-- Info section -->
<section class="page info-section">
	<div class="inner clearfix">
		<h1 class="sticker-why">Dlaczego meet.php?</h1>

		<ul>
			<li class="sticker-learn">
				<h3>Uczysz się</h3>
				<p>Mówimy o tym, co istotne podczas tworzenia aplikacji w PHP - tych małych i dużych.</p>
			</li>
			<li class="sticker-meet">
				<h3>Poznajesz ludzi</h3>
				<p>Tych, którzy w PHP programują, ponieważ lubią, a nie dlatego, że muszą.</p>
			</li>
			<li class="sticker-share">
				<h3>Dzielisz się doświadczeniem</h3>
				<p>Programiści uczą się cały czas.</p>
			</li>
		</ul>
	</div>
	<a href="?logo=1" class="logo-version">Click for special Fabien's version ;)</a>
	<a href="{{ LINK_GH }}" class="github-code"></a>
	<a href="http://www.phpclasses.org/submit_user_group.html?country=pl" hidden>Polish Resources of Our Country</a>
</section>
<!-- End info section -->

{% endblock %}