{% extends '_layout.twig' %}

{% block content %}

<!-- Partners section -->
<div class="page clearfix">
    <div class="inner">
        <article class="event">
            <header class="page-header clearfix">
                <h1>Partnerzy</h1>
            </header>
            <div class="page-content">
                <section class="event-sponsors clearfix">
                    <ul>
                        {% for partner in partners %}
                        <li><a href="{{partner.url}}"><img src="{{WEBROOT}}/img/{{partner.logo}}" alt="{{partner.name}}"></a></li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </article>
    </div>
</div>
<!-- End partners section -->

{% endblock %}
