{% extends '_layout.twig' %}

{% block content %}
<div id="paper-background">
    <article id="partners">
        <hgroup>
            <h1>Partnerzy</h1>
        </hgroup>

        <p>[put your text here]</p>

        <section class="company-logos">
            {% for partner in partners %}
            <a href="{{partner.url}}"><img src="{{WEBROOT}}/img/{{partner.logo}}" alt="{{partner.name}}"></a>
            {% endfor %}
        </section>

    </article>
</div>
{% endblock %}
