{% extends '_layout.twig' %}

{% block content %}

<div class="page clearfix">
    <div class="inner">
        <article class="event">
            <header class="page-header clearfix">
                <h1>meet.php update</h1>
            </header>
            <div class="page-content status_update">
				<p>Kiedy ponad 3 lata temu rozpoczynaliśmy z <a href="https://twitter.com/daniula">Danielem</a> pierwsze spotkania meet.php, mieliśmy ambitne cele. Chcieliśmy rozruszać społeczność PHPową w Poznaniu (Polsce?) i pokazać, że PHP to nie już nie tylko <code>mysql_query</code> przeplatane przez <code>echo $html</code>. </p>

				<p>Chcieliśmy stworzyć miejsce, gdzie ludzie będą chcieli słuchać oraz mówić o nowych rzeczach. Sporo rzeczy z meet.php się udało, wiele z nich nawet lepiej niż oczekiwaliśmy. Niestety, są też takie które się nie udały. Zwracam uwagę na fragment: </p>

				<blockquote>
				<p>gdzie ludzie będą chcieli słuchać oraz <strong>mówić</strong> o nowych rzeczach</p>
				</blockquote>

				<p>Bardzo boli mnie fakt, że przy takiej różnorodności fajnych technologii, tematów, metodyk czy też dobrych praktych znalezienie kompletu prelegentów zajmuje średnio ponad 3 miesiące. </p>

				<p>Możemy mieć super miejscówkę, możemy mieć fajne jedzenie na miejscu, możemy zadbać o to abyście nie chodzili spragnieni. Za to wszystko zapłacę przysłowiową kartą MasterCard. Mogę załatwić gazylion nagród - za to dziękowałem sponsorom za każdym razem i teraz dziękuję ponownie. Ale za prelekcję płacić nie będę. Nie o to chodzi w spotkaniach tego typu.</p>

				<p>Pytacie, dlaczego meet.php odbywa się tak rzadko. Otóż musiało odbywać się tak rzadko, aby nie nazywało się: </p>

				<ul>
				<li>meet.krystian (3 prezentacje), </li>
				<li>meet.max (3 prezentacje), </li>
				<li>meet.grzegorz (3 prezentacje), </li>
				<li>meet.mariusz (5 prezentacji) </li>
				<li>meet.radek (5 prezentacji + kilkanaście LT) </li>
				</ul>

				<p>Na 48 pełnych prezentacji z meet.php 1/3 z nich obstawiła powyższa piątka. Mówiąc krótko - nie tak powinno to działać. A niestety, zdolności klonowania i kamuflażu żaden z nas nie opanował. </p>

				<p>Znalezienie prelegentów było problemem już na samym początku, ale z czasem ich zadanie to stawało się coraz trudniejsze - co jest trochę paradoksalne, biorąc pod uwagę rosnącą popularność meet.php, związaną z tym zmianę Coworking ZOO na Concordię i spotkania <a href="https://twitter.com/meetphp/status/444874959815729152">niekiedy na 90 osób</a>.</p>

				<p>W związku z powyższym ogłaszam, iż inicjatywa meet.php zostaje <strong>zawieszona</strong> do czasu przywrócenia (jeśli uda mi się coś wymyślić) lub oficjalnego zamknięcia. </p>

				<p>Nie jest to zagrywka w stylu &quot;no, może teraz zaczną się ludzie zgłaszać&quot; - to nie zadziała na dłuższą metę. Po prostu nie chcę Was utrzymywać w ciągłym: &quot;no kiedy będzie następne meet.php?!&quot;. Bo widzicie - na obecną chwilę moja odpowiedź brzmi: <strong>&quot;nie wiem&quot;</strong>. 

				<pre><code>
$name = &quot;Radek Benkel&quot;;
$nick = &quot;singles&quot;; 
$role = &quot;organizer&quot;;</code></pre>								
            </div>
        </article>
    </div>
</div>

{% endblock %}
